
.BadgeList__container ul {
    margin-left: 1rem;
}
.BadgeList__section-info {
display: flex;
background-color: #FFF;
margin-top: 1rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
border-radius: 0.5rem;
align-items: center;
}
.BadgeList__section-info a picture {
    width: 80px;
    height: 80px;
}
.BadgeList__item-avatar {
    width: 100%;
    border-radius: 50%;
    padding: 0.5rem;
}
.BadgeList__item-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.BadgeList__item-info a span:nth-child(1) {
    font-weight: bold;
}
.BadgeList__item-info a span:nth-child(2) {
    display: flex;
    color: #19BFE5;
}
.BadgeList__item-info a .icon__container {
    width: 20px;
    height: 20px;
}
.icon__container img {
    width: 100%;
}
.text-reset {
    text-decoration: none;
}